<h2 class="page-header">Search Book</h2>
<form action="/books" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Published After</label>
      <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
    <div class="form-item">
      <label>Published Before</label>
      <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<div>
  
</div>
<% console.log("books.length = ",books.length) %> 
<div>
    <% books.forEach(book => { %>
      <% if(book.title == 'test4'){%>
        <iframe src="<%=book.DocPath  %>#view=FitH" frameborder="0" height='150' width="400"></iframe>
        <a href="<%= book.coverImagePath %>" target="_blank" ><img height='150' width="100" src="<%= book.coverImagePath %> " alt="image embedded using base64 encoding!"></a>
        <%= book.title %> 
        <%// console.log(book.coverImagePath) %>
      <% } else { %>
        <img height='150' width="100" src="<%= book.coverImagePath %> " alt=""></a>
        <%= book.title %> 
      <% } %> 
    <% }) %>   
</div>